gsrc/wsi/local/gw/wsi/pl/SystemToolsAPI.wsdl

<?xml version="1.0"?>
<!-- Generated WSDL for gw.wsi.pl.SystemToolsAPI web service -->
<wsdl:definitions targetNamespace="http://guidewire.com/pl/ws/gw/wsi/pl/SystemToolsAPI" name="SystemToolsAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/gw/api/webservice/systemTools" xmlns:pogo2="http://guidewire.com/gw/api/tools" xmlns:pogo3="http://guidewire.com/ph/typekey" xmlns:pogo4="http://guidewire.com/gw/api/database" xmlns:pogo5="http://guidewire.com/gw/util" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://guidewire.com/pl/ws/gw/wsi/pl/SystemToolsAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pl/ws/gw/wsi/pl/SystemToolsAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="../../../../../gw/xsd/guidewire/soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/gw/util"/>
      <xs:import namespace="http://guidewire.com/gw/api/database"/>
      <xs:import namespace="http://guidewire.com/ph/typekey"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/systemTools"/>
      <!-- getVersion() : ServerVersion -->
      <xs:element name="getVersion">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getVersionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ServerVersion"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WebServiceException">
        <xs:complexType/>
      </xs:element>
      <!-- submitDBCCBatchJob(String[], String[]) : ProcessID -->
      <xs:element name="submitDBCCBatchJob">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tablesToCheck" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="consistencyCheckTypesToCheck" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitDBCCBatchJobResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getDBCCState() : WorkItemSetState -->
      <xs:element name="getDBCCState">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getDBCCStateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo3:WorkItemSetState"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- submitUpdateStats(String, boolean) -->
      <xs:element name="submitUpdateStats">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:element name="incremental" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitUpdateStatsResponse">
        <xs:complexType/>
      </xs:element>
      <!-- cancelUpdateStats() -->
      <xs:element name="cancelUpdateStats">
        <xs:complexType/>
      </xs:element>
      <xs:element name="cancelUpdateStatsResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getUpdateStatsState() : WorkItemSetState -->
      <xs:element name="getUpdateStatsState">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getUpdateStatsStateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo3:WorkItemSetState"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- submitDmvReportBatchJob(boolean) : ProcessID -->
      <xs:element name="submitDmvReportBatchJob">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="includeDatabaseStatistics" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitDmvReportBatchJobResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getRecentAWRSnapshotInfo(int) : DatabaseSnapshotInfo[] -->
      <xs:element name="getRecentAWRSnapshotInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numSnapshots" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getRecentAWRSnapshotInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo4:DatabaseSnapshotInfo"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PermissionException">
        <xs:complexType/>
      </xs:element>
      <!-- submitAwrReportBatchJob(int, int, boolean) : ProcessID -->
      <xs:element name="submitAwrReportBatchJob">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beginSnapshot" type="xs:int"/>
            <xs:element name="endSnapshot" type="xs:int"/>
            <xs:element name="probeVDollarTables" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitAwrReportBatchJobResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- submitAwrReportBatchJobAllOpts(int, int, boolean, boolean, boolean, boolean, boolean, boolean, boolean, boolean, boolean, boolean, boolean) : ProcessID -->
      <xs:element name="submitAwrReportBatchJobAllOpts">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="beginSnapshot" type="xs:int"/>
            <xs:element name="endSnapshot" type="xs:int"/>
            <xs:element name="probeVDollarTables" type="xs:boolean"/>
            <xs:element name="capturePeakedBindVariables" type="xs:boolean"/>
            <xs:element name="searchForQueriesWithMultiplePlans" type="xs:boolean"/>
            <xs:element name="searchForQueriesOnlyInFirstSnapshot" type="xs:boolean"/>
            <xs:element name="searchForQueriesOnlyInLastSnapshot" type="xs:boolean"/>
            <xs:element name="includeMetadataForInstrumentationTables" type="xs:boolean"/>
            <xs:element name="useExperimentalRawDataOutput" type="xs:boolean"/>
            <xs:element name="includeDatabaseStatistics" type="xs:boolean"/>
            <xs:element name="probeSQLMonitor" type="xs:boolean"/>
            <xs:element name="capturePeakedBindVariablesFromAWR" type="xs:boolean"/>
            <xs:element name="generateCallsToASHScripts" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="submitAwrReportBatchJobAllOptsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo2:ProcessID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getPerfReportsInfo(int) : String[] -->
      <xs:element name="getPerfReportsInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="numDownloads" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getPerfReportsInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- reportDatabaseCatalogStatistics() : byte[] -->
      <xs:element name="reportDatabaseCatalogStatistics">
        <xs:complexType/>
      </xs:element>
      <xs:element name="reportDatabaseCatalogStatisticsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:hexBinary" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- reportPartialDatabaseCatalogStatistics(String[], String[], String[]) : byte[] -->
      <xs:element name="reportPartialDatabaseCatalogStatistics">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="tables" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="stagingTables" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="typelistTables" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="reportPartialDatabaseCatalogStatisticsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:hexBinary" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServerStateException">
        <xs:complexType/>
      </xs:element>
      <!-- verifyDatabaseSchema() : String[] -->
      <xs:element name="verifyDatabaseSchema">
        <xs:complexType/>
      </xs:element>
      <xs:element name="verifyDatabaseSchemaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- setRunlevel(SystemRunlevel) -->
      <xs:element name="setRunlevel">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="runLevel" minOccurs="0" type="pogo:SystemRunlevel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setRunlevelResponse">
        <xs:complexType/>
      </xs:element>
      <!-- getRunlevel() : SystemRunlevel -->
      <xs:element name="getRunlevel">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getRunlevelResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:SystemRunlevel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getHighestRunlevel() : SystemRunlevel -->
      <xs:element name="getHighestRunlevel">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getHighestRunlevelResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:SystemRunlevel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getActiveSessionData() : SessionData[] -->
      <xs:element name="getActiveSessionData">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getActiveSessionDataResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo:SessionData"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- updateLoggingLevel(String, SystemOutLogger.LoggingLevel) -->
      <xs:element name="updateLoggingLevel">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="logger" type="xs:string" minOccurs="0"/>
            <xs:element name="level" minOccurs="0" type="pogo5:SystemOutLogger.LoggingLevel"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateLoggingLevelResponse">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <!-- reloadLoggingConfig() -->
      <xs:element name="reloadLoggingConfig">
        <xs:complexType/>
      </xs:element>
      <xs:element name="reloadLoggingConfigResponse">
        <xs:complexType/>
      </xs:element>
      <!-- recalculateFileChecksums() : boolean -->
      <xs:element name="recalculateFileChecksums">
        <xs:complexType/>
      </xs:element>
      <xs:element name="recalculateFileChecksumsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- getLoggingCategories() : String[] -->
      <xs:element name="getLoggingCategories">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getLoggingCategoriesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/webservice/systemTools" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/util"/>
      <xs:import namespace="http://guidewire.com/gw/api/database"/>
      <xs:import namespace="http://guidewire.com/ph/typekey"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:complexType name="ServerVersion">
        <xs:sequence>
          <xs:element name="AppVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="ConfigVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="ConfigVersionModified" type="xs:string" minOccurs="0"/>
          <xs:element name="PlatformVersion" type="xs:string" minOccurs="0"/>
          <xs:element name="SchemaVersion" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SystemRunlevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="STARTING"/>
          <xs:enumeration value="MAINTENANCE"/>
          <xs:enumeration value="DAEMONS"/>
          <xs:enumeration value="MULTIUSER"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SessionData">
        <xs:sequence>
          <xs:element name="SessionId" type="xs:string" minOccurs="0"/>
          <xs:element name="UserId" type="xs:string" minOccurs="0"/>
          <xs:element name="UserName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/tools" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/util"/>
      <xs:import namespace="http://guidewire.com/gw/api/database"/>
      <xs:import namespace="http://guidewire.com/ph/typekey"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/systemTools"/>
      <xs:complexType name="ProcessID">
        <xs:sequence>
          <xs:element name="Pid" type="xs:long" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/ph/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/util"/>
      <xs:import namespace="http://guidewire.com/gw/api/database"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/systemTools"/>
      <xs:simpleType name="WorkItemSetState">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Canceling"/>
          <xs:enumeration value="Completed"/>
          <xs:enumeration value="Processing"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/api/database" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/util"/>
      <xs:import namespace="http://guidewire.com/ph/typekey"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/systemTools"/>
      <xs:complexType name="DatabaseSnapshotInfo">
        <xs:sequence>
          <xs:element name="BeginIntervalTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="Id" type="xs:int" minOccurs="0"/>
          <xs:element name="SnapTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
          <xs:element name="SnapshotChosen" type="xs:boolean" minOccurs="0"/>
          <xs:element name="StartupTime" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/gw/util" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/gw/api/database"/>
      <xs:import namespace="http://guidewire.com/ph/typekey"/>
      <xs:import namespace="http://guidewire.com/gw/api/tools"/>
      <xs:import namespace="http://guidewire.com/gw/api/webservice/systemTools"/>
      <xs:simpleType name="SystemOutLogger.LoggingLevel">
        <xs:restriction base="xs:string">
          <xs:enumeration value="TRACE"/>
          <xs:enumeration value="DEBUG"/>
          <xs:enumeration value="INFO"/>
          <xs:enumeration value="WARN"/>
          <xs:enumeration value="ERROR"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="SystemToolsAPIPortType">
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion"/>
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="submitDBCCBatchJob">
      <wsdl:input name="submitDBCCBatchJob" message="tns:submitDBCCBatchJob"/>
      <wsdl:output name="submitDBCCBatchJobResponse" message="tns:submitDBCCBatchJobResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getDBCCState">
      <wsdl:input name="getDBCCState" message="tns:getDBCCState"/>
      <wsdl:output name="getDBCCStateResponse" message="tns:getDBCCStateResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="submitUpdateStats">
      <wsdl:input name="submitUpdateStats" message="tns:submitUpdateStats"/>
      <wsdl:output name="submitUpdateStatsResponse" message="tns:submitUpdateStatsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="cancelUpdateStats">
      <wsdl:input name="cancelUpdateStats" message="tns:cancelUpdateStats"/>
      <wsdl:output name="cancelUpdateStatsResponse" message="tns:cancelUpdateStatsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getUpdateStatsState">
      <wsdl:input name="getUpdateStatsState" message="tns:getUpdateStatsState"/>
      <wsdl:output name="getUpdateStatsStateResponse" message="tns:getUpdateStatsStateResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="submitDmvReportBatchJob">
      <wsdl:input name="submitDmvReportBatchJob" message="tns:submitDmvReportBatchJob"/>
      <wsdl:output name="submitDmvReportBatchJobResponse" message="tns:submitDmvReportBatchJobResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getRecentAWRSnapshotInfo">
      <wsdl:input name="getRecentAWRSnapshotInfo" message="tns:getRecentAWRSnapshotInfo"/>
      <wsdl:output name="getRecentAWRSnapshotInfoResponse" message="tns:getRecentAWRSnapshotInfoResponse"/>
      <!-- SOAPException -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJob">
      <wsdl:input name="submitAwrReportBatchJob" message="tns:submitAwrReportBatchJob"/>
      <wsdl:output name="submitAwrReportBatchJobResponse" message="tns:submitAwrReportBatchJobResponse"/>
      <!-- SOAPException -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJobAllOpts">
      <wsdl:input name="submitAwrReportBatchJobAllOpts" message="tns:submitAwrReportBatchJobAllOpts"/>
      <wsdl:output name="submitAwrReportBatchJobAllOptsResponse" message="tns:submitAwrReportBatchJobAllOptsResponse"/>
      <!-- SOAPException -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getPerfReportsInfo">
      <wsdl:input name="getPerfReportsInfo" message="tns:getPerfReportsInfo"/>
      <wsdl:output name="getPerfReportsInfoResponse" message="tns:getPerfReportsInfoResponse"/>
      <!-- SOAPException -->
      <wsdl:fault name="PermissionException" message="tns:PermissionException"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="reportDatabaseCatalogStatistics">
      <wsdl:input name="reportDatabaseCatalogStatistics" message="tns:reportDatabaseCatalogStatistics"/>
      <wsdl:output name="reportDatabaseCatalogStatisticsResponse" message="tns:reportDatabaseCatalogStatisticsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="reportPartialDatabaseCatalogStatistics">
      <wsdl:input name="reportPartialDatabaseCatalogStatistics" message="tns:reportPartialDatabaseCatalogStatistics"/>
      <wsdl:output name="reportPartialDatabaseCatalogStatisticsResponse" message="tns:reportPartialDatabaseCatalogStatisticsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- for errors production the report -->
      <wsdl:fault name="ServerStateException" message="tns:ServerStateException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="verifyDatabaseSchema">
      <wsdl:input name="verifyDatabaseSchema" message="tns:verifyDatabaseSchema"/>
      <wsdl:output name="verifyDatabaseSchemaResponse" message="tns:verifyDatabaseSchemaResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="setRunlevel">
      <wsdl:input name="setRunlevel" message="tns:setRunlevel"/>
      <wsdl:output name="setRunlevelResponse" message="tns:setRunlevelResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- for errors setting the run level -->
      <wsdl:fault name="ServerStateException" message="tns:ServerStateException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getRunlevel">
      <wsdl:input name="getRunlevel" message="tns:getRunlevel"/>
      <wsdl:output name="getRunlevelResponse" message="tns:getRunlevelResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getHighestRunlevel">
      <wsdl:input name="getHighestRunlevel" message="tns:getHighestRunlevel"/>
      <wsdl:output name="getHighestRunlevelResponse" message="tns:getHighestRunlevelResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getActiveSessionData">
      <wsdl:input name="getActiveSessionData" message="tns:getActiveSessionData"/>
      <wsdl:output name="getActiveSessionDataResponse" message="tns:getActiveSessionDataResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="updateLoggingLevel">
      <wsdl:input name="updateLoggingLevel" message="tns:updateLoggingLevel"/>
      <wsdl:output name="updateLoggingLevelResponse" message="tns:updateLoggingLevelResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <!-- if logger is not defined -->
      <wsdl:fault name="RequiredFieldException" message="tns:RequiredFieldException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="reloadLoggingConfig">
      <wsdl:input name="reloadLoggingConfig" message="tns:reloadLoggingConfig"/>
      <wsdl:output name="reloadLoggingConfigResponse" message="tns:reloadLoggingConfigResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="recalculateFileChecksums">
      <wsdl:input name="recalculateFileChecksums" message="tns:recalculateFileChecksums"/>
      <wsdl:output name="recalculateFileChecksumsResponse" message="tns:recalculateFileChecksumsResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getLoggingCategories">
      <wsdl:input name="getLoggingCategories" message="tns:getLoggingCategories"/>
      <wsdl:output name="getLoggingCategoriesResponse" message="tns:getLoggingCategoriesResponse"/>
      <!-- On permission or authentication errors -->
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemToolsAPISoap12Binding" type="tns:SystemToolsAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getVersion">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getVersion">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitDBCCBatchJob">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="submitDBCCBatchJob">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitDBCCBatchJobResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDBCCState">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getDBCCState">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDBCCStateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitUpdateStats">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="submitUpdateStats">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitUpdateStatsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelUpdateStats">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="cancelUpdateStats">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelUpdateStatsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUpdateStatsState">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getUpdateStatsState">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUpdateStatsStateResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitDmvReportBatchJob">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="submitDmvReportBatchJob">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitDmvReportBatchJobResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentAWRSnapshotInfo">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getRecentAWRSnapshotInfo">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentAWRSnapshotInfoResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJob">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="submitAwrReportBatchJob">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitAwrReportBatchJobResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJobAllOpts">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="submitAwrReportBatchJobAllOpts">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitAwrReportBatchJobAllOptsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerfReportsInfo">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getPerfReportsInfo">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPerfReportsInfoResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap12:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportDatabaseCatalogStatistics">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="reportDatabaseCatalogStatistics">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportDatabaseCatalogStatisticsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportPartialDatabaseCatalogStatistics">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="reportPartialDatabaseCatalogStatistics">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportPartialDatabaseCatalogStatisticsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap12:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyDatabaseSchema">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="verifyDatabaseSchema">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyDatabaseSchemaResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRunlevel">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="setRunlevel">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="setRunlevelResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap12:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRunlevel">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getRunlevel">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRunlevelResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHighestRunlevel">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getHighestRunlevel">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHighestRunlevelResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActiveSessionData">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getActiveSessionData">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveSessionDataResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateLoggingLevel">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="updateLoggingLevel">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateLoggingLevelResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reloadLoggingConfig">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="reloadLoggingConfig">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reloadLoggingConfigResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="recalculateFileChecksums">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="recalculateFileChecksums">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="recalculateFileChecksumsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLoggingCategories">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getLoggingCategories">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLoggingCategoriesResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemToolsAPISoap11Binding" type="tns:SystemToolsAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="getVersion">
      <soap11:operation style="document"/>
      <wsdl:input name="getVersion">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitDBCCBatchJob">
      <soap11:operation style="document"/>
      <wsdl:input name="submitDBCCBatchJob">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitDBCCBatchJobResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDBCCState">
      <soap11:operation style="document"/>
      <wsdl:input name="getDBCCState">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDBCCStateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitUpdateStats">
      <soap11:operation style="document"/>
      <wsdl:input name="submitUpdateStats">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitUpdateStatsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelUpdateStats">
      <soap11:operation style="document"/>
      <wsdl:input name="cancelUpdateStats">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelUpdateStatsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUpdateStatsState">
      <soap11:operation style="document"/>
      <wsdl:input name="getUpdateStatsState">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUpdateStatsStateResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitDmvReportBatchJob">
      <soap11:operation style="document"/>
      <wsdl:input name="submitDmvReportBatchJob">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitDmvReportBatchJobResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRecentAWRSnapshotInfo">
      <soap11:operation style="document"/>
      <wsdl:input name="getRecentAWRSnapshotInfo">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRecentAWRSnapshotInfoResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJob">
      <soap11:operation style="document"/>
      <wsdl:input name="submitAwrReportBatchJob">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitAwrReportBatchJobResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="submitAwrReportBatchJobAllOpts">
      <soap11:operation style="document"/>
      <wsdl:input name="submitAwrReportBatchJobAllOpts">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="submitAwrReportBatchJobAllOptsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPerfReportsInfo">
      <soap11:operation style="document"/>
      <wsdl:input name="getPerfReportsInfo">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPerfReportsInfoResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PermissionException">
        <soap11:fault name="PermissionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportDatabaseCatalogStatistics">
      <soap11:operation style="document"/>
      <wsdl:input name="reportDatabaseCatalogStatistics">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportDatabaseCatalogStatisticsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reportPartialDatabaseCatalogStatistics">
      <soap11:operation style="document"/>
      <wsdl:input name="reportPartialDatabaseCatalogStatistics">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportPartialDatabaseCatalogStatisticsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap11:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verifyDatabaseSchema">
      <soap11:operation style="document"/>
      <wsdl:input name="verifyDatabaseSchema">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifyDatabaseSchemaResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setRunlevel">
      <soap11:operation style="document"/>
      <wsdl:input name="setRunlevel">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="setRunlevelResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServerStateException">
        <soap11:fault name="ServerStateException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRunlevel">
      <soap11:operation style="document"/>
      <wsdl:input name="getRunlevel">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRunlevelResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getHighestRunlevel">
      <soap11:operation style="document"/>
      <wsdl:input name="getHighestRunlevel">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHighestRunlevelResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getActiveSessionData">
      <soap11:operation style="document"/>
      <wsdl:input name="getActiveSessionData">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getActiveSessionDataResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateLoggingLevel">
      <soap11:operation style="document"/>
      <wsdl:input name="updateLoggingLevel">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateLoggingLevelResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reloadLoggingConfig">
      <soap11:operation style="document"/>
      <wsdl:input name="reloadLoggingConfig">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="reloadLoggingConfigResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="recalculateFileChecksums">
      <soap11:operation style="document"/>
      <wsdl:input name="recalculateFileChecksums">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="recalculateFileChecksumsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLoggingCategories">
      <soap11:operation style="document"/>
      <wsdl:input name="getLoggingCategories">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLoggingCategoriesResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemToolsAPI">
    <wsdl:port name="SystemToolsAPISoap12Port" binding="tns:SystemToolsAPISoap12Binding">
      <soap12:address location="local:///gw/wsi/pl/SystemToolsAPI"/>
    </wsdl:port>
    <wsdl:port name="SystemToolsAPISoap11Port" binding="tns:SystemToolsAPISoap11Binding">
      <soap11:address location="local:///gw/wsi/pl/SystemToolsAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion"/>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="WebServiceException">
    <wsdl:part name="WebServiceException" element="tns:WebServiceException"/>
  </wsdl:message>
  <wsdl:message name="submitDBCCBatchJob">
    <wsdl:part name="parameters" element="tns:submitDBCCBatchJob"/>
  </wsdl:message>
  <wsdl:message name="submitDBCCBatchJobResponse">
    <wsdl:part name="parameters" element="tns:submitDBCCBatchJobResponse"/>
  </wsdl:message>
  <wsdl:message name="getDBCCState">
    <wsdl:part name="parameters" element="tns:getDBCCState"/>
  </wsdl:message>
  <wsdl:message name="getDBCCStateResponse">
    <wsdl:part name="parameters" element="tns:getDBCCStateResponse"/>
  </wsdl:message>
  <wsdl:message name="submitUpdateStats">
    <wsdl:part name="parameters" element="tns:submitUpdateStats"/>
  </wsdl:message>
  <wsdl:message name="submitUpdateStatsResponse">
    <wsdl:part name="parameters" element="tns:submitUpdateStatsResponse"/>
  </wsdl:message>
  <wsdl:message name="cancelUpdateStats">
    <wsdl:part name="parameters" element="tns:cancelUpdateStats"/>
  </wsdl:message>
  <wsdl:message name="cancelUpdateStatsResponse">
    <wsdl:part name="parameters" element="tns:cancelUpdateStatsResponse"/>
  </wsdl:message>
  <wsdl:message name="getUpdateStatsState">
    <wsdl:part name="parameters" element="tns:getUpdateStatsState"/>
  </wsdl:message>
  <wsdl:message name="getUpdateStatsStateResponse">
    <wsdl:part name="parameters" element="tns:getUpdateStatsStateResponse"/>
  </wsdl:message>
  <wsdl:message name="submitDmvReportBatchJob">
    <wsdl:part name="parameters" element="tns:submitDmvReportBatchJob"/>
  </wsdl:message>
  <wsdl:message name="submitDmvReportBatchJobResponse">
    <wsdl:part name="parameters" element="tns:submitDmvReportBatchJobResponse"/>
  </wsdl:message>
  <wsdl:message name="getRecentAWRSnapshotInfo">
    <wsdl:part name="parameters" element="tns:getRecentAWRSnapshotInfo"/>
  </wsdl:message>
  <wsdl:message name="getRecentAWRSnapshotInfoResponse">
    <wsdl:part name="parameters" element="tns:getRecentAWRSnapshotInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="PermissionException">
    <wsdl:part name="PermissionException" element="tns:PermissionException"/>
  </wsdl:message>
  <wsdl:message name="submitAwrReportBatchJob">
    <wsdl:part name="parameters" element="tns:submitAwrReportBatchJob"/>
  </wsdl:message>
  <wsdl:message name="submitAwrReportBatchJobResponse">
    <wsdl:part name="parameters" element="tns:submitAwrReportBatchJobResponse"/>
  </wsdl:message>
  <wsdl:message name="submitAwrReportBatchJobAllOpts">
    <wsdl:part name="parameters" element="tns:submitAwrReportBatchJobAllOpts"/>
  </wsdl:message>
  <wsdl:message name="submitAwrReportBatchJobAllOptsResponse">
    <wsdl:part name="parameters" element="tns:submitAwrReportBatchJobAllOptsResponse"/>
  </wsdl:message>
  <wsdl:message name="getPerfReportsInfo">
    <wsdl:part name="parameters" element="tns:getPerfReportsInfo"/>
  </wsdl:message>
  <wsdl:message name="getPerfReportsInfoResponse">
    <wsdl:part name="parameters" element="tns:getPerfReportsInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="reportDatabaseCatalogStatistics">
    <wsdl:part name="parameters" element="tns:reportDatabaseCatalogStatistics"/>
  </wsdl:message>
  <wsdl:message name="reportDatabaseCatalogStatisticsResponse">
    <wsdl:part name="parameters" element="tns:reportDatabaseCatalogStatisticsResponse"/>
  </wsdl:message>
  <wsdl:message name="reportPartialDatabaseCatalogStatistics">
    <wsdl:part name="parameters" element="tns:reportPartialDatabaseCatalogStatistics"/>
  </wsdl:message>
  <wsdl:message name="reportPartialDatabaseCatalogStatisticsResponse">
    <wsdl:part name="parameters" element="tns:reportPartialDatabaseCatalogStatisticsResponse"/>
  </wsdl:message>
  <wsdl:message name="ServerStateException">
    <wsdl:part name="ServerStateException" element="tns:ServerStateException"/>
  </wsdl:message>
  <wsdl:message name="verifyDatabaseSchema">
    <wsdl:part name="parameters" element="tns:verifyDatabaseSchema"/>
  </wsdl:message>
  <wsdl:message name="verifyDatabaseSchemaResponse">
    <wsdl:part name="parameters" element="tns:verifyDatabaseSchemaResponse"/>
  </wsdl:message>
  <wsdl:message name="setRunlevel">
    <wsdl:part name="parameters" element="tns:setRunlevel"/>
  </wsdl:message>
  <wsdl:message name="setRunlevelResponse">
    <wsdl:part name="parameters" element="tns:setRunlevelResponse"/>
  </wsdl:message>
  <wsdl:message name="getRunlevel">
    <wsdl:part name="parameters" element="tns:getRunlevel"/>
  </wsdl:message>
  <wsdl:message name="getRunlevelResponse">
    <wsdl:part name="parameters" element="tns:getRunlevelResponse"/>
  </wsdl:message>
  <wsdl:message name="getHighestRunlevel">
    <wsdl:part name="parameters" element="tns:getHighestRunlevel"/>
  </wsdl:message>
  <wsdl:message name="getHighestRunlevelResponse">
    <wsdl:part name="parameters" element="tns:getHighestRunlevelResponse"/>
  </wsdl:message>
  <wsdl:message name="getActiveSessionData">
    <wsdl:part name="parameters" element="tns:getActiveSessionData"/>
  </wsdl:message>
  <wsdl:message name="getActiveSessionDataResponse">
    <wsdl:part name="parameters" element="tns:getActiveSessionDataResponse"/>
  </wsdl:message>
  <wsdl:message name="updateLoggingLevel">
    <wsdl:part name="parameters" element="tns:updateLoggingLevel"/>
  </wsdl:message>
  <wsdl:message name="updateLoggingLevelResponse">
    <wsdl:part name="parameters" element="tns:updateLoggingLevelResponse"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="tns:RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="reloadLoggingConfig">
    <wsdl:part name="parameters" element="tns:reloadLoggingConfig"/>
  </wsdl:message>
  <wsdl:message name="reloadLoggingConfigResponse">
    <wsdl:part name="parameters" element="tns:reloadLoggingConfigResponse"/>
  </wsdl:message>
  <wsdl:message name="recalculateFileChecksums">
    <wsdl:part name="parameters" element="tns:recalculateFileChecksums"/>
  </wsdl:message>
  <wsdl:message name="recalculateFileChecksumsResponse">
    <wsdl:part name="parameters" element="tns:recalculateFileChecksumsResponse"/>
  </wsdl:message>
  <wsdl:message name="getLoggingCategories">
    <wsdl:part name="parameters" element="tns:getLoggingCategories"/>
  </wsdl:message>
  <wsdl:message name="getLoggingCategoriesResponse">
    <wsdl:part name="parameters" element="tns:getLoggingCategoriesResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>